<div class="course-card" [ngClass]="{
        'passed-course': course.gradeStatus === 'passed',
        'failed-course': course.gradeStatus === 'failed',
        'pending-course': course.gradeStatus === 'pending',
        'card--enrolled': (isEnrolled$ | async)
    }" [ngStyle]="{
        'border': course.credits === 4 ? '2px solid blue' : '1px solid gray'
    }">

    <h3>{{ course.name | uppercase }}</h3>

    <p><strong>Code:</strong> {{ course.code | lowercase }}</p>

    <p>
        <strong>Credit Label:</strong>
        {{ course.credits | creditLabel }}
    </p>

    <p><strong>Credits:</strong> {{ course.credits | creditLabel }}</p>

    <p><strong>Status:</strong> {{ course.gradeStatus | titlecase }}</p>

    <button type="button" (click)="toggleEnrollment()">
        {{ (isEnrolled$ | async) ? 'Unenroll' : 'Enroll' }}
    </button>
    <button (click)="isExpanded = !isExpanded">
        Show Details
    </button>

</div>